footer {
    padding: 3rem 0 3rem 0;
    background-color: $black;
    h4,
    h5,
    h6 {
        @extend %title-footer;
    }
    .contact {
        h4,
        h5,
        h6 {
            @extend %title-footer;
        }
        p {
            @extend %text-footer;
        }
    }
    .nav {
        ul {
            li {
                a {
                    @extend %a-footer;
                }
            }
        }
    }
}