footer {
    padding: 3rem 0 3rem 0;
    background-color: $black;
    h4,
    h5,
    h6 {
        @extend %title-footer;
    }
    a {
        @extend %a-footer;
    }
    p,
    .holiday {
        @extend %text-footer;
    }
    .contact {
        h4,
        h5,
        h6 {
            @extend %title-footer;
        }
        p {
            @extend %text-footer;
        }
    }
    .nav {
        ul {
            li {
                a {
                    @extend %a-footer;
                }
            }
        }
    }
    .news {
        p {
            text-align: justify;
            @extend %text-footer;
            margin: 0px 0px 10px 0px;
        }
        .form {
            input {
                width: 100%;
                padding: 5px;
                margin-top: 10px;
                @extend %text-footer;
                border: 1px solid $brown !important;
                background-color: transparent !important;
                &::placeholder {
                    @extend %text-footer;
                }
            }
            .btn {
                margin-top: 20px;
                @extend %button-footer;
            }
        }
    }
    .hours {
        .holiday {
            color: $brown;
            font-weight: 800;
            font-size: 10px;
            text-align: justify;
            text-decoration: underline;
            font-family: $text;
        }
        strong {
            color: $coral;
        }
    }
    .separator {
        height: 1px;
        margin-bottom: 26px;
        background-color: $separator;
    }
    .warning {
        p {
            text-align: end;
            i {
                color: $coral;
            }
        }
    }
    .reseaux {
        a {
            margin-right: 10px;
            i {
                color: $coral;
            }
        }
    }
    .copyright {
        text-align: end;
        .copy {
            color: $brown !important;
            @extend %text-footer;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        .contact,
        .news,
        .hours {
            margin-bottom: 26px;
        }
        .nav {
            margin-bottom: 10px;
        }
        .warning {
            p {
                text-align: left;
            }
        }
        .copyright {
            text-align: left;
        }
    }
}